---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/About.astro';
---
<Layout
  title="Metodología | Acute"
  description="Nuestro enfoque: arquitecturas limpias, entrega continua y equipos ágiles."
  image="https://www.acute.dev/og-image.png"
>
  <main class="space-y-16">
    <About />
  </main>
</Layout>
