---
import Layout from '../layouts/Layout.astro';
import Services from '../components/home/Services.astro';
---
<Layout
  title="Servicios | Acute"
  description="Desarrollamos aplicaciones web, móviles y sistemas a la medida con tecnologías modernas."
  image="https://www.acute.dev/og-image.png"
>
  <main class="space-y-16">
    <Services />
  </main>
</Layout>
